{{ define "main" }}
{{ $Pages := .Pages }}
{{ $home := .IsHome }}
{{ if .IsHome }}
  {{ $Pages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}


  {{ if not .IsHome }}
  <header style="text-align: center;">
    <h1>
      {{ .Title }}
    </h1>
  </header>
  {{ end }}
 
  {{ range $Pages.GroupByDate "2006" }}
    <h2 class="archive-year">{{ .Key }}</h2>
  
    {{ range .Pages.GroupByDate "January"}} <!-- .Pages in $Pages -->
    {{ range .Pages }}
   
      {{ if .Date }}

        <h3>
        <a href="{{ .RelPermalink }}">
          <svg
            class="bookmark"
            aria-hidden="true"
            viewBox="0 0 40 50"
            focusable="false"
          >
            <use href="#bookmark"></use>
          </svg>
          {{ .Title }}
        </a>
      </h2>
      {{ end }}

      {{ end }}
    {{ end }}
    
  {{ end }}
 

{{ end }}
